@model IEnumerable<SP.Application.ViewModels.ServicoViewModel>

@{
    ViewBag.Title = "Lista de Serviços";
}

<h2>Lista de Serviços</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ServicoId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ServicoId }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.ServicoId })
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryAjax")
}